<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/resources :: headTags"></div>
	<title th:text="${pizza.name}"></title>
</head>

<body>
	<div class="container" th:object="${pizza}">
		<h1 th:text="*{name}"></h1>
		<dl>
			<dt>Description</dt>
			<dd th:text="*{description}"></dd>
			<dt>Price</dt>
			<dd th:text="*{price}"></dd>
		</dl>
		<div class=" mt-3">
			<a class="btn btn-danger" th:href="@{/}"><i class="fas fa-times"></i> Back</a>
		</div>
	</div>

	<div th:replace="fragments/resources :: scripts"></div>
</body>

</html>