<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<div th:replace="fragments/resources :: headTags"></div>
		<title>Modifica Pizza</title>
	</head>
	<body>
		<div class="flex-container">
			<h1 class="text-center">Pizza</h1 >
			<hr/>
			<div class="row">
				<div class="col-6 offset-3 mt-4">
					<form
						id="pizza-form"
						th:object="${pizza}"
						th:action="@{/pizza/create}"
						method="POST" class="mx-5">
						<div class="row gy-2">
							<div class="col-10">
								<label class="form-label" for="name">Name</label>
								<input type="text" class="form-control" id="name" th:field="*{name}">
							</div>
							<div class="col-2">
								<label class="form-label" for="price">Price</label>
								<input type="number" class="form-control" id="price" step=".01" th:field="*{price}">
							</div>
							<div class="col-12">
								<label class="form-label" for="description">Description</label>
								<textarea type="text" class="form-control" id="description" th:field="*{description}" rows="2"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="col-2 mt-3">
								<button class="btn btn-primary" type="submit">Save</button>
							</div>
							<div class="col-2 offset-8 mt-3">
								<a class="btn btn-primary" th:href="@{/}" th:text="Back"></a>
							</div >
						</div>
					</form>
				</div>
			</div>
		</div>
		<div th:replace="fragments/resources :: scripts"></div>
	</body>
</html >