<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/resources :: headTags"></div>
	<title>Pizze</title>
</head>

<body>
	<div class="container">
		<h1 class="text-center text-danger text-uppercase fw-bold pt-3">Pizze</h1>
		<hr class="text-danger" />
		<div>
			<a class="btn btn-danger mb-3" th:href="@{/pizza/create}"><i class="fas fa-plus"></i> Add Pizza</a>
		</div>
		<table class="table" th:if="${list.size() > 0}">
			<thead>
				<tr class="text-danger text-uppercase">
					<th>Name</th>
					<th>Description</th>
					<th>Price</th>
					<th>Ingredient</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${list}">
					<td th:text="${item.name}"></td>
					<td th:text="${item.description}"></td>
					<td th:text="${item.price}"></td>
					<td>
						<table class="table">
							<tr th:each="ingredient : ${item.ingredients}">
								<td th:text="${ingredient.name}"></td>

							</tr>
						</table>
					<td>
						<a class="btn btn-danger" th:href="@{|/pizza/detail/${item.id}|}"><i
								class="fas fa-pizza-slice"></i></a>
						<a class="btn btn-danger" th:href="@{|/pizza/edit/${item.id}|}"><i class="far fa-edit"></i></a>
						<a class="btn btn-danger" th:href="@{|/pizza/edit/${item.id}|}"><i
								class="fas fa-trash-alt"></i></a>
					</td>
					<div class="alert alert-danger" role="alert" th:unless="${list.size() > 0}">
						There are no pizza in the database
					</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="fragments/resources :: scripts"></div>
</body>

</html>