<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/resources :: headTags"></div>
	<title>Pizze</title>
</head>

<body>
	<div class="container">
		<h1>Pizze</h1>
		<hr />
		<div>
			<a class="btn btn-primary mb-3" th:href="@{/pizze/create}">Add Pizza</a>
		</div>
		<table class="table" th:if="${list.size() > 0}">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Price</th>
					<th>Ingredient</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${list}">
					<td th:text="${item.name}"></td>
					<td th:text="${item.description}"></td>
					<td th:text="${item.price}"></td>
					<td>
						<table class="table">
							<tr th:each="ingredient : ${item.ingredient}">
								<td th:text="${ingredient.name}"></td>
							</tr>
						</table>
						<div class="alert alert-primary" role="alert" th:unless="${list.size() > 0}">
							Non ci sono pizze nel database
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="fragments/resources :: scripts"></div>
</body>

</html>